@import '~/src/sass/style.scss';

.card-grid-layout-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 16px;
  gap: 5px;
  &__label {
    text-transform: uppercase;
  }
  &__arrow {
    color: $primary;
    font-size: 30px;
    line-height: 0;
    margin-bottom: 5px;
    transition: all linear 0.1s;
  }
  &:hover &__arrow {
    margin-left: 5px;
  }
}