@import '~/src/sass/style.scss';

.delivery-schedule-planning-software {
  background-image: linear-gradient(19deg, #111c22, #17253c 63%, #222446);
  &__cover-content {
    padding-top: 20px;
  }
}

@include large {
  .delivery-schedule-planning-software {
    &__cover-content {
      padding-top: 100px;
    }
  }
}