@import '~/src/sass/style.scss';

.image-content-grid{
  &__content{
      display: flex;
      flex-direction: column;
      height: 295px;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      background-color: $gray-light;
  }
  &__description{
    max-width: 250px;
  }
  &__image-container{
    height: 295px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__video-container{
    width: 100%;
    height: 295px;
  }
  &__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


