@import '~/src/sass/style.scss';

.news-ticker {
  background: $black;
  display: flex;
  align-items: center;
  padding: 9px 0;
  &__message {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
  &__link {
    color: #EC898C;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
  }
  &__close {
    font-size: 32px;
    background: none;
    border: none;
    color: $white;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }
  &__hubspot-form {
    width: 670px;
    height: 400px;
    padding: 20px;
  }
}