@import '~/src/sass/style.scss';

.data-security {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

@include medium {
  .data-security {
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    &__security-animation {
      flex: 0 1 50%;
    }
    &__information {
      flex: 0 1 50%;
    }
  }
}
