@import '~/src/sass/style.scss';

.pricing-failure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 100px;

  &__button {
    max-width: 520px;
  }
  &__link {
    color: rgba($secondary, 0.8);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}