@import '~/src/sass/style.scss';

.automate-work-order-allocation-software {
  &__cover-section {
    background: url('~/public/automate-work-order-allocation-software.webp') center center no-repeat;
  }

  &__cover-content {
    padding-top: 20px;
  }

  &__card-holder {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border: 1px solid $gray-light;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__card-text {
    display: block;
    padding-bottom: 8px;
  }

}
button.automate-work-order-allocation-software{
  &__learn-more {
    display: block;
    margin: 40px auto;
    width: 200px;
  }
}

@include large {
  .automate-work-order-allocation-software {
    &__cover-section {
      height: 715px;
      overflow: visible;
      padding-top: 150px;
    }
    &__cover-content {
      padding-top: 50px;
    }
    &__card-holder {
      flex-direction: row;
      gap: 40px;
    }
  }
}