@import '~/src/sass/style.scss';

.page-cover-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  position: relative;
  z-index: 8;
  &__description {
    padding: 30px 0 50px 0;
  }
}

@include medium {
  .page-cover-section-content {
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }
}

@include large {
  .page-cover-section-content {
    width: 56%;
    margin: 0;
    &--fluid {
      width: 100%;
    }
  }
}