@import '~/src/sass/style';

.login-app {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    height: 300px;
    width: 400px;
    background: $white;
    box-shadow: 0 0 3px $gray;
    overflow: hidden;
    padding: 20px;
  }
  &__title {
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
  }
  &__footer {
    text-align: center;
  }
  &__button {
    width: 150px;
  }
}